<html>
    <head>
<style>
    td{
        border: black 1px solid;
    }
    tr{
        border: black 1px solid;
    }
</style>
    </head>
    <body>
        <table>
            <tr>
                <td style="font-weight: bolder">First Name</td>
                <td style="font-weight: bolder">Last Name</td>
                <td style="font-weight: bolder">Full Name</td>
            </tr>
            {% for x in user:%}
            <tr>
                <td>
                    {{(x['first_name'])}}
                </td>
                <td>
                    {{(x['last_name'])}}
                </td>
                <td>
                    {{(x['first_name'])}} + {{(x['last_name'])}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>